.header {
    text-align: right;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    padding-left: 1em;
    padding-right: 1em;
}